.App {
  text-align: center;
  height: 100%;
}

.half-screen {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vmax;
  text-align: center;
  overflow: hidden;
  
}
.half-screen .left-block{
  background-color: rgb(255, 133, 52);
  color: white;
}

.half-screen .right-block{
  background-color: rgb(253, 237, 218);
  padding: 25vmax 0% 25vmax 0%;
}

.page1{
  background-color: rgb(255, 247, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vmax
}
.page1 .button{
  border: none;
  outline: none;
  color:rgb(51, 28, 0);
  background-color: inherit;
  font-family: inherit; 
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

/* https://www.w3schools.com/css/css_form.asp */
input[type=text], select {
  width: 252.109px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], button {
  width: 252.109px;
  background-color: rgb(255, 133, 52);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}